####################################
# General Visual Studio
####################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

####################################
# Build results
####################################
bin/
obj/
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
*.exe
*.dll
*.app
*.appx
*.msi
*.pdb
*.cache
*.log
*.dbmdl
*.db
*.bak

####################################
# ASP.NET Core/Blazor
####################################
wwwroot/**/*.map
wwwroot/**/*.min.css
appsettings.Development.json
appsettings.*.json.local
secrets.json
**appsettings.json


####################################
# C++/CLI / Native projects
####################################
*.ipch
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.tlog
*.ilk
*.idb
*.obj
*.pch
*.pdb
*.aps
*.ncb
*.log
*.tmp

####################################
# Publish & deployment
####################################
.publish/
publish/
*.Publish.xml

####################################
# JetBrains (Rider)
####################################
.idea/

####################################
# Others
####################################
*.DS_Store
Thumbs.db
*.bak
*.old
*.orig

helper.md